<html>
<body>
    <h3>Iris Flower Classification</h3>

<div>
  <form action="/result" method="POST">
    <label for="sepal length">Sepal Length</label>
    <input type="text" id="sepal length" name="sepal length">
    <br>
    <label for="sepal width">Sepal Width</label>
    <input type="text" id="sepal width" name="sepal width">
    <br>
    <label for="petal length">Petal Length</label>
    <input type="text" id="petal length" name="petal length">
    <br>
    <label for="petal width">Petal Width</label>
    <input type="text" id="petal width" name="petal width">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
